# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env
.env.local
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
__MACOSX/
*.pem
*.tsbuildinfo
next-error.log
passenger.log
tmp/
